#interview-title {
    text-align: center;
    
}
#interview-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#interview-form form {
    padding: 10px;
    width: 35%;
    display: flex;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}