.sign-up-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;

}
.sign-up-container>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    padding: 20px;

}

.sign-up-submit {
    width: 50%;
    margin: auto;

}